/*
    -x- Customizando Menu da Janela principal -x-
*/
.fonteCesgranrio {
    font-weight: bold;
    color: #445058;
    margin-left: -20px;
    /*position: relative;*/
/*    display: table-row;
    text-align: center;*/
}

.stackCesgranrio { 
    position: fixed; 
    display: table;
    
    /* campos a serem customizados a cada banca */
    margin-top: 320px;
    padding-left:550px;
}
.stackCesgranrio > img { 
    position: relative; 
    cursor: pointer; 
    z-index: 2;
    
    /* campos a serem customizados a cada banca */
    /*margin-top: 25px;*/ 
}
.stackCesgranrio ul { 
    list-style: none; 
    position: fixed; 
    cursor: pointer; 
    z-index: 1; 
    width: 71px;

    /* campos a serem customizados a cada banca */
    margin: -65px -35px auto;
}

.stackCesgranrio ul > li > a > img { 
    width: 71px;
    margin-left: -2px;
}

.stackCesgranrio ul li a:link {
    text-decoration: none;
}

.stackCesgranrio ul li { 
    position: absolute; 
}
.stackCesgranrio ul li img { 
    border: 0; 
}
.stackCesgranrio ul li span { 
    display: none; 
}

.stackCesgranrio .openStack li span:hover {
    color: #ffffff;
}

.stackCesgranrio .openStack li span { 
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    display:block;
    position:relative;
    border: 0;
/*    background-color:#445058; */
    background-color:black;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #dddddd;
    text-align: center;
    text-shadow: #000 1px 1px 1px;
    opacity: .85;
    filter: alpha(opacity = 85);
    line-height: 14px;
    
    /* campos a serem customizados a cada banca */
    width:150%;
    height: 15px;
    margin-left: 150px;
    top: 30px;
    right:60px;
    margin-right: 30px;
}
 
/* IE Fixes */
.stackCesgranrio { _position: absolute; }
.stackCesgranrio ul { _z-index:-1; _top:-15px; }
.stackCesgranrio ul li { *right:5px; }