#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    // visual do link 
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.fontePadrao {
    color: #445058;
    font-family: Montserrat, sans-serif;
}

.fonteRecuperacao {
    display: table;
    width: 100%;
    color: #445058;
    font-family: Montserrat, sans-serif;
    text-align: center;
    padding-left: 2%;
}

#tituloTela{
    display: table;
    width: 100%;
    padding-bottom: 25px;
    color: #445058;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

.fonteTituloMenu{
    font-family: Montserrat, sans-serif;
    color: #dddddd;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding:17px 40px 9px 15px;
    display: block;
    text-transform: uppercase;
}

.linkTituloMenu{
    font-family: Montserrat, sans-serif;
    color: #dddddd;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 17px 40px 9px 10px;
    display: block;
    text-transform: uppercase;
    cursor:pointer;
    text-decoration: none;
}

.linkTituloMenu:hover{
    color: #ffffff;
}

.linkJanelaLogin {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px !important;
    color:#3a454d !important;
}

.linkJanelaLogin:hover {
    color: #6A5ACD !important;
    /*color: #4682B4 !important;*/
}

.linkPadrao {
    cursor: pointer;
    text-decoration: none;
    font-size: 17px !important;
    color: #445058 !important;
}

.linkPadrao:hover {
    color: #708090 !important;
    /*color: #4682B4 !important;*/
}

.fonteNegrito{
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0 0 50px;
}

#rodape {
  bottom: 0;
  border: 0;
  position: absolute;
  text-align: center;
  color: #dddddd;
  font-size: 14px;
  font-weight: bold;
  background:  #445058;
  width: 100%;
  height: 30px;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
  list-style: none;
  line-height: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  opacity: 0.85;
  -moz-opacity: 0.85;
  filter: alpha(opacity=85);
}

#rodape span {
    left: 50%;
    display: block;
    position: absolute;
    margin-top: 9px;
}

.conteudo {
    margin: 0 auto;
    padding-bottom: 10px;
}

.ui-growl {
    top: 10%;
    right: 20%;
}

.alertaLogin {
    background: #FF6347;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #363636;
}

.botoes{
    overflow-x: auto;
    height: 110px;
    margin-bottom: 10px;
    border:1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
}

.tabelaFoco{
    overflow-y: auto;
    height: 380px;
    margin-bottom: 0px;
    border:0px solid red;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border:0px solid black;
    margin-bottom: 5px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.tabelaCentral{
    margin-left: 10px;
    margin-right: 10px;
    border:0px solid red;
}

.publicidade {
    font-family: Montserrat, sans-serif;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-right: 10px;
    height: 75px;
    border:1px solid gray;
    width: 98%;
    color: #696969; /* DimGrey */
}