/*
    -x- Customizando Menu da Janela principal -x-
*/
.fonteCespe {
    font-weight: bold;
    color: #445058;
    position: relative;
    display: table-row;
    text-align: center;
}

.stack { 
    position: fixed; 
    display: table;
    
    /* campos a serem customizados a cada banca */
    margin-top: 350px;
    padding-left:100px;
}
.stack > img { 
    position: relative; 
    cursor: pointer; 
    z-index: 2;
    
    /* campos a serem customizados a cada banca */
    /*margin-top: 25px;*/ 
}
.stack ul { 
    list-style: none; 
    position: fixed; 
    cursor: pointer; 
    z-index: 1; 
    width: 71px;

    /* campos a serem customizados a cada banca */
    margin: -65px -35px auto;
}

.stack ul > li > a > img { 
    width: 71px;
}

.stack ul li a:link {
    text-decoration: none;
}

.stack ul li { 
    position: absolute; 
}
.stack ul li img { 
    border: 0; 
}
.stack ul li span { 
    display: none; 
}

.stack .openStack li span:hover {
    color: #ffffff;
}

.stack .openStack li span { 
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    display:block;
    position:relative;
    border: 0;
/*    background-color:#445058; */
    background-color:black;
    padding: 4px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #dddddd;
    text-align: center;
    text-shadow: #000 1px 1px 1px;
    opacity: .85;
    filter: alpha(opacity = 85);
    line-height: 14px;
    z-index: 1002;
    
    /* campos a serem customizados a cada banca */
    width:180%;
    height: 15px;
    margin-left: 145px;
    top: 30px;
    right:60px;
    margin-right: 30px;
}
 
/* IE Fixes */
.stack { _position: absolute; }
.stack ul { _z-index:-1; _top:-15px; }
.stack ul li { *right:5px; }